:root {
    --transform-y: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: auto;
}

a {
  color: #00B7FF;
}

.item {
  transform: translateY(var(--transform-y));
}

.typography {
  color: pink;
}

.invention {
  color: blue;
}

.movement {
  color: orange;
}
