body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, div#root {
  background-color: #232323;
  color: white;
  height: 100%;
}



* {
  box-sizing: border-box;
}

body, div, h1, p {
  width: auto;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  max-width: 100vw;
  width: 90vw;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 50px;
  font: 11px 'Lato', Helvetica, Arial, sans-serif;
  height: auto;
}

a {
  color: #00B7FF;
}

#timeline {
  max-width: 100%;
  width: 90%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;

  div.item {
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 20px;
    text-align: center;
    border: 0.8px solid gray;
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    transition: all .2s ease-in-out;

    &:hover {
      transform: scale(1.5);
      color: white;
    }

    h5 {
      z-index: -2;
      transition: all .2s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }

  }

  div.modal {
    color: #232323;
    div.modal-card {
      p {
        font-size: 16px;
      }
      header.modal-card-head, footer.modal-card-foot {
        p {
          // text-align: right;
          font-size: 18px;
          font-weight: 800;
          display: flex;
          justify-content: flex-end;
          align-items: center;
        }
      }
      section.modal-card-body {
      }
      footer.modal-card-foot {
        p {

        }
      }
    }
  }

  .typography {
    color: hotPink;
  }

  .invention {
    color: turquoise;
  }

  .movement {
    color: orange;
  }
}
